<!DOCTYPE html>
<html lang="ru" th:replace="~{fragments/layout :: layout (~{::body})}">
<body>
<h2>Зарегистрированные пользователи:</h2>

<table id="customers" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">Email</th>
        <th style="width: 200px;">Пароль</th>
        <th style="width: 120px">Имя</th>
        <th style="width: 120px">Фамилия</th>
        <th style="width: 120px">Отчество</th>
        <th style="width: 120px">Дата рождения</th>
        <th style="width: 120px">Пол</th>
        <th style="width: 120px">Адрес</th>
        <th style="width: 120px">ИНН</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.email}"/>
        <td th:text="${customer.password}"/>
        <td th:text="${customer.firstName}"/>
        <td th:text="${customer.lastName}"/>
        <td th:text="${customer.patronymic}"/>
        <td th:text="${customer.birthDate}"/>
        <td th:text="${customer.sex}"/>
        <td th:text="${customer.address}"/>
        <td th:text="${customer.inn}"/>
    </tr>
    </tbody>
</table>

<script src="js/bootstrap.min.js"></script>
</body>
</html>