/*alfaform main css*/
.logo {
    font-family: "Lato Heavy";
    font-size: 48px;
    font-weight: 900;
    text-align: left;
}

.logo span {
    font-size: 200%;
    color: #71dd8a;
}

.navbar {
    padding-top: 25px;
    padding-bottom: 25px;
}

p{
    font-size: 24px;
}

#formbase #reg-submit{
    padding-top: 15px;
}

.glyphicon{
    right: 15px;
}